<div class="table-wrap full">
  <table>
    <thead>
      {{- range .THead }}
      <tr>
        {{- range . }}
        <th{{ with .Alignment }} style="text-align: {{ . }}"{{ end }}>{{ .Text }}</th>
        {{- end }}
      </tr>
      {{- end }}
    </thead>
    <tbody>
      {{- range .TBody }}
      <tr>
        {{- range . }}
        <td{{ with .Alignment }} style="text-align: {{ . }}"{{ end }}>{{ .Text }}</td>
        {{- end }}
      </tr>
      {{- end }}
    </tbody>
  </table>
</div>
<div class="scroll-hint scroll-hint--bare full" aria-hidden="true" data-pagefind-ignore>scroll →</div>
